/*Global styles*/
html,body {
    height: 100%;
    width: 100%;

    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/*AMos styles*/
#background {
    display: none;
}

#startBar {
    position: absolute;
    bottom: 0px;
    left: 0px;

    height: 20px;
    width: 100%;

    background-color: black;
}

#startButton {
    position: absolute;
    bottom: 0px;
    left:25px;

    height: 30px;
    width: 30px;

    border: 2px solid white;
}

#launcherWrapper {
    position: absolute;
    bottom: 20px;
    left: 0px;

    height: 300px;
    width: 200px;

    background-color: black;

    display: none;
}

/*Styles for login page*/
#loginTopWrapper {
    position: abosolute;
    left:0;
    top:0;

    height: 30px;
    width: 98%;

    border: 1px solid black;
}

#loginTopInnerWrapper {
    position: absolute;
    right: 20px;
    top:11px;

    width: 500px;
    height: 30px;
}

#loginUsername {
    position: absolute;
    left: 50;
    top: 0;

    height: 100%;
    width: 210;
}

#loginpwd {
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    width: 230;
}

#loginBody {
    position:absolute;
    top: 45px;

    height: 600px;
    width: 98%;

    border: 1px solid black;
}

#loginfoot {
    position: absolute;
    bottom: 5;

    height: 30px;
    width: 98%;

    border:1px solid black;
}

